.onboard-main{
    padding:5%;
    height: 100%;
    ion-fab{
        bottom: 35px;
        right: 28px;
    }
    .onboard-top{
        margin-top: 5%;
        ion-button{
            font-family: sans-serif;
            text-transform: capitalize;
            font-size: 0.9rem;
        }
    }
    .onboard-bot{
        ion-slides{
            padding-bottom: 22%;
            --bullet-background: rgb(246 24 67/ 24%)
        }
        .onb-img{
            margin:9% 0 8%;
            img{
                height: 300px;
                width: 100%;
                object-fit: cover;
            }
        }
        h4{
            font-size: 1.5rem;
            font-family: sans-serif;
            margin-bottom: 4%;
        }
        p{
            font-size: 1rem;
            padding: 2% 5%;
        }
    }
}