<ion-content>
  <div class="top-section ion-padding">
    <div class="top-menu">
        <img src="" alt="">
           <img src="" alt="">
   </div>
   <div class="title">
     <h2>covid</h2>
<ion-select   [interfaceOptions]="customActionSheetOptions"  value="india"
interface="action-sheet" placeholder="Select one">
 <ion-select-option value="india">India</ion-select-option>
  <ion-select-option value="USA">USA</ion-select-option>
</ion-select>
                      
</div>
<div class="sub-title">
  <h3>Are you feeling sick?</h3>
  <p>If you feel sick with any of covid-19 symptoms please call or SMS us</p>
  </div>
  <div class="action-buttons">
  <ion-button class="call">
  <ion-icon name="call"></ion-icon> Call now
  </ion-button>
  <ion-button class="sms">
  <ion-icon name="chatbubble"></ion-icon> Send SMS
  </ion-button>
  </div>
</div>

<div class="middle-section ion-padding">
  <h3>Prevention</h3>
  <div class="content">
    <ion-row>
  <ion-col size="4">
  <img src="" alt="">
  <p>Avoid close contact</p>
  </ion-col>
  <ion-col size="4">
  <img src="" alt="">
  <p>Clean your <br> hans often</p>
  </ion-col>
  <ion-col size="4">
  <img src="" alt="">
  <p>Wear a facemask</p>
  </ion-col>
  </ion-row>
  </div>
  </div>
  <div class="botton-section ion-margin">
  <img src="">
  <h3> Do your own test</h3>
  <p>Follow the instruction to do your own test </p>
  </div>
  
  

</ion-content>
