ion-header {
  position: absolute;
  
  ion-toolbar {
    padding-left: 14px;
    padding-right: 14px;
  
    ion-title {
      --color: white;
      font-size: 18px;
    }
  }
} 
  
.default-left-padding {
  padding-left: 26px;
}
  
.default-top-padding {
  padding-top: 26px !important;
}
  
ion-content {
  .banner {
    position: relative;
  
    img {
      width: 100%;
    }
  
    .caption {
      position: absolute;
      width: 100%;
      bottom: 55px;
      font-size: 26px;
      color: rgb(172, 16, 16);
      padding-left: 26px;
      padding-right: 26px;
    }
  
    .search {
      position: absolute;
      bottom: -40px;
      width: calc(100% - 52px);
      background: rgb(136, 137, 138);
      margin: 16px 26px 16px 26px;
      padding: 5px 16px 5px 16px;
      border-radius: 10px;
      box-shadow: 0px 3px 12px 2px rgba(0, 0, 0, 0.16);
  
      ion-item {
        --inner-padding-end: 0 !important;
  
        ion-input {
          --placeholder-color: #212121 !important;
          --placeholder-opacity: 0.5;
          --color: #21212150 !important;
        }
  
        ion-icon {
          color: #21212150 !important;
          margin-right: 10px;
        }
  
        ion-button {
          height: 35px;
          margin-right: 0 !important;
          --box-shadow: none;
  
          img {
            transform: rotateZ(90deg);
          }
        }
      }
    }
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 26px 16px 26px;
  
    h2 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #364F6B;
    }
  
    p{
      margin: 0;
      font-size: 14px;
      color: var(--ion-color-primary);
    }
  }
  
  ion-card {
    width: 100%;
    height: 150px;
    box-shadow: none;
    border-radius: 12px;
        
    img{
      object-fit: cover;
      width: 100%;
      transform: scale(1.1, 1.1);
      transition: 600ms all ease-in-out;
    }
  }    
  
  .swiper-slide-active {
    transform: scale(1.05, 1.05);
    
    ion-card{
      img {
        transform: scale(1, 1);
      }
    }
  }  
  
  .swiper-slide {
    transition: 400ms all ease-in-out;
  }
}

.live-event {
  border-radius: 10px;
  box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.16);
  margin: 0 26px 26px 26px;
  display: flex;
  justify-content: space-between;

  img {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }

  .info {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .content {
      h6 {
        color: #364F6B;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0px;
      }

      .location {
        display: flex;
        align-items: center;
        color: var(--ion-color-primary);
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: 0;
      }

      .stats {
        display: flex;
        margin-bottom: 5px;
        margin-top: 0;

        span {
          display: flex;
          align-items: center;
          color: #364F6B80;
          font-size: 10px;
          margin-right: 10px;
        }
      }
    }

    .indicator {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        background: #FFE6E6;
        border-radius: 12px;
        padding: 15px;
        color: var(--ion-color-primary);
      }
    }
  }
}

