<ion-header class="ion-no-border">
  <ion-toolbar color="meduim-shade">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)=" signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="banner">
  <img routerLink="/home" src="../../assets/banner.png" />

  <div class="caption ion-padding">
    Join with <br>
    upcoming events
  </div>

  <div class="search">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
  </div>
</div>

<div class="title">
  <h2>Highlights of the Week</h2>
  <p>See all</p>
</div>
<div class="event-slider">
  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <img (click)="presentAlert()" src="../../assets/slide_1.png">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img (click)="presentAlert()" src="../../assets/slide_2.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img (click)="presentAlert()" src="../../assets/slide_3.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img (click)="presentAlert()" src="../../assets/slide_4.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img (click)="presentAlert()" src="../../assets/slide_5.png">
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>
<div class="default-top-padding title">
  <h2>Live right now</h2>
  <p>See all</p>
</div> <div class="live-event">
  <img src="../../assets/events/event3.svg" />

  <div class="info">
    <div class="content">
      <h6>World Mental Health Day</h6>

      <p class="stats">
        <span><ion-icon name="eye"></ion-icon>&nbsp;2.3K</span><span><ion-icon name="heart"></ion-icon>&nbsp;3758</span>
      </p>

      <p class="location"><ion-icon name='location'></ion-icon>Batangas, Philippines</p>

      <div class="additional-info">
        <div class="attendees">
          <img src="../../assets/persons/person1.svg" />
          <img src="../../assets/persons/person2.svg" />
          <img src="../../assets/persons/person3.svg" />
          <img src="../../assets/persons/person4.svg" />
          <div class="count">
            <img src="../../assets/persons/person-placeholder.svg" />

            <p>+3</p>
          </div>
        </div>
      </div>
    </div>

    <div class="indicator">
      <div><a href="https://youtu.be/Pcn_WFq_V7E">Live</a></div>
    </div>
  </div>
</div>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="start">

    <ion-fab-button color="primary">
      <a href="/community" class="btn btn-primary"> <ion-icon color="tertiary" name="people-circle" size="large">
      </ion-icon></a>
    </ion-fab-button>

    <ion-fab-button color="primary">
      <a href="/task" class="btn btn-primary"> <ion-icon  color="tertiary"   name="happy"  size="large"></ion-icon>
      </a></ion-fab-button>

       <ion-fab-button color="primary">
          <a href="/calendar" class="btn btn-primary"> <ion-icon color="tertiary" name="calendar-sharp" size="large">
          </ion-icon></a>
        </ion-fab-button>

       
        
  </ion-fab-list>
</ion-fab>
</ion-content>



