ion-card.bb{
  background-color: rgb(26, 25, 25);
  opacity: 0.6;
 
}
ion-card-subtitle{
    color: black;
}
ion-icon.del{
    background-color: rgb(70, 41, 236);
    color:rgb(255, 255, 255);
}
ion-icon.del1{
    background-color: rgb(187, 37, 32);
    color:rgb(255, 255, 255);
  
}

ion-card-header.background{
    --background: url(../../assets/col11.png) 0 0/100% 100% no-repeat;
}
ion-card-header.background1{
    --background: url(../../assets/col22.png) 0 0/100% 100% no-repeat;
}
ion-card-header.background2{
    --background: url(../../assets/col33.png) 0 0/100% 100% no-repeat;
}
ion-card-content{
    color: black;
}