<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button href="/events"><ion-icon name="arrow-back-sharp"> </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
   Collaboration
    </ion-title>

    <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  >

  <ion-card  routerLink="/collab1">
    <ion-card-header class="background">
      <ion-card-title  color="dark">Living a Rewarding Life</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      “Sing like no one’s listening, love like you’ve never been hurt, dance like nobody’s watching, and live like it’s heaven on earth.” 
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header class="background1">
      <ion-card-title  color="dark">Mental Health Awareness</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      “Life imposes things on you that you can’t control, but you still have the choice of how you’re going to live through this.” 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="background2">
      <ion-card-title color="dark">Mood Lifter</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      “Health is the greatest gift, contentment the greatest wealth, faithfulness the best relationship.”
    </ion-card-content>
  </ion-card>
 
</ion-content>
