<ion-header class="ion-no-border">
   <ion-toolbar color="primary" no-border>
     <ion-buttons slot="start">
       <ion-button href="/collab1"><ion-icon name="arrow-back-sharp"> </ion-icon>
       </ion-button>
     </ion-buttons>
 
     <ion-title class="ion-text-center">
     Add Question
     </ion-title>
 
     <ion-buttons slot="end">
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
 >

<ion-content>
  <ion-item>
      <ion-label position="floating">Question</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" required></ion-input>
  </ion-item>

<ion-button 
   class="ion-padding"
   color="light"
   expand="full"
   (click)="createPost(post)">
                             Post
</ion-button>

</ion-content>
