ion-toolbar {
    --border-style: none;
}
 
ion-header {
    background: #fff;
}
 
ion-slides {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--ion-color-light);

    .button{
        height: 60px;
        width: 60px;
        padding-left: 10px;
        padding-right: 8px;
        border-radius: 50%;
        border-bottom: 3px solid var(--ion-color-light);
    }
}
 
ion-segment {
    z-index: 10;
    background: #fff;
}
 
ion-segment-button {
    text-transform: none;
}
 
ion-avatar {
    border: 2px solid var(--ion-color-primary);
    padding: 2px;
}

.backgr{
    --background: url("../../assets/dash.png") 0 0/100% 100% no-repeat;
}

.profilebg{
    --background: url("../../assets/twt.png") 0 0/100% 100% no-repeat;
}

