<ion-header #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)=" signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-segment [(ngModel)]="segment" mode="md" #segmentcontrol>
  <ion-segment-button value="home">
    <ion-label style='color:rgb(93, 131, 253)'>Home</ion-label>
  </ion-segment-button>
  <ion-segment-button value="content">
    <ion-label style='color:rgb(93, 131, 253)'>Profile</ion-label>
  </ion-segment-button>
</ion-segment>
 
<ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header" [appStickySegment]="segmentcontrol">
  <div [hidden]="segment != 'home'">
    <!-- Stoy section at the top -->
    <ion-slides [options]="opts">
      <ion-button (click)="addStory()" class="button"> + </ion-button>
      <ion-slide *ngFor="let tweet of tweets">
        <ion-avatar>
          <img [src]="tweet.img">
        </ion-avatar>
      </ion-slide>
    </ion-slides>
 
    <!-- List of Tweets -->
    <app-tweet *ngFor="let tweet of tweets" [tweet]="tweet"></app-tweet>
  </div>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div [hidden]="segment != 'content'">
    <div class="profilebg">
      <img src="../../assets/twt.png">
    </div>
  </div>
</ion-content>