ion-card.bb{
    background-color: rgb(185, 185, 185);
    opacity: 0.6;
   
  }
  ion-card-subtitle{
      color: black;
  }
  ion-icon.del{
      background-color: rgb(70, 41, 236);
      color:rgb(255, 255, 255);
  }
  ion-icon.del1{
      background-color: rgb(187, 37, 32);
      color:rgb(255, 255, 255);
    
  }
  ion-icon.add1{
    color:rgb(255, 255, 255);
  
}
  ion-content.background{
      --background: url(../../assets/mess.jpg) 0 0/100% 100% no-repeat;
  }
ion-item-sliding.nice{
      opacity: 0.9;
      border-bottom: rgb(255, 255, 255) solid;
  }