<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/task">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Living a Rewarding Life</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" [routerLink]="['/add-post']">
    <ion-icon class="add1" name="add"> </ion-icon>
      </ion-fab-button></ion-fab>

  
    <ion-item-sliding *ngFor="let post of posts" class="nice">
      <ion-item lines="none" color="warning" class="no-padding">
 
    
          <ion-card-content>
            <h5>{{post.title}}</h5>
          <p style="color: rgb(75, 72, 72);">{{post.details}}</p>
          </ion-card-content>
         
    
      </ion-item>

      <ion-item-options side="start">
<iom-item-options  [routerLink]="['/edit-post/',post.id]">
  <ion-icon class="del" slot="icon-only" size="large" name="pencil-outline"></ion-icon>
</iom-item-options>
      </ion-item-options>

      <ion-item-options side="end">
        <iom-item-options color="danger" (click)="deletePost(post.id)">
          <ion-icon  class="del1" slot="icon-only" size="large" name="trash"></ion-icon>
        </iom-item-options>
              </ion-item-options>
 
  </ion-item-sliding>
</ion-content>
