ion-content{
  --ion-background-color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

.background-container{
height: 100vh;
width: 100%;
display: flex;
background: url('../../assets/welcbg.png');
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;
flex-direction: column;
justify-content: center;

}

ion-card{
  text-align: center;
  background: transparent;
  box-shadow: none;
 
  img{
      margin-top: 40px;
      height: 7rem;
      width: 7.2rem;
  }  
}

.errors {
  font-size: small;
  color: rgb(255, 255, 255);
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-input{
  color:black;
}

ion-button{
  padding-left: 35%;
  width: 230px;
  color:white;
  --background: rgb(36, 35, 35);
}

@media screen and (min-width:340px){
  .backgr-filter{
      height: 100%;
      width: 100%;
      background: rgba(83, 41, 2, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

