 <ion-content class="backgr">
    <div class="cup">
        <div class="handle"></div>
    </div>
    <ion-fab-button mode="md"  color="light"  routerLink="/log">
      <ion-icon size="large" name="caret-forward-outline"></ion-icon>
    </ion-fab-button>
   <embed src="../../assets/bam.mp3" loop="true" autoplay="true" width="2" height="0">
   </ion-content>

