.backgr{
  --background: url("../../assets/backg.png") 0 0/100% 100% no-repeat;
}

.btn{
  padding-left: 35%;
}

.cup{
  height: 200px;
  width: 240px;
  border: 8px solid #efb54a;
  position: absolute;
  top: 60%;
  left: 13%;
  border-radius: 0px 0px 70px 70px;
  background: url('../../assets/coffee.png');
  box-shadow: 0px 0px 0px 6px white;
  background-repeat: repeat-x;
  background-position: 0px 140px;
  animation: fill 2.5s infinite;
}

@keyframes fill{
  0%{
      background-position: 0px 140px;
  }
  20%{
      background-position: -450px 100px;
  }
  40%{
      background-position: -900px 50px;
  }
  80%{
      background-position: -1000px -10px;
  }
  100%{
      background-position: 0px 170px;
  }
}
.handle{
  height: 90px;
  width: 45px;
  background-color: transparent;
  border: 6px solid white;
  position: relative;
  left: 235px;
  top: 10px;
  border-radius: 0px 25px 80px 0px;
}
ion-fab-button {
  width: 90px;
  height: 90px;
 
  margin-left: 74px;
  margin-top:257px;
}
ion-icon{
  width: 80px;
  height: 80px;
}